# PostgreSQL. Versions 9.1 and up are supported.
#
default: &default
  adapter:  postgresql
  encoding: unicode
  host:     localhost
  pool:     5
  username: username
  password: password

development:
  <<: *default
  database: twitter_search_dev

test:
  <<: *default
  database: twitter_search_test

production:
  <<: *default
  database: twitter_search_prod
