development:
  secret_key_base: 1fb770481baccc679455b397341b8bf9489b865c18530f37c8e7af07c8a719ce641feaf3cddb5628e2573bd561a2b4383c2611abd0b8efb2091759c6c6bed7fe
  twitter:
    :consumer_key:        consumer_key
    :consumer_secret:     consumer_secret
    :access_token:        access_token
    :access_token_secret: access_token_secret

test:
  secret_key_base: adb444be5cdd5b3b747051273b9215ce3f51dfd6b980d7c12b4a97c51f39666c9147d2b0b4cc6ad908812941538975d7e9424bd9252e5e5eb52045cdefb934e2
  twitter:
    :consumer_key:        consumer_key
    :consumer_secret:     consumer_secret
    :access_token:        access_token
    :access_token_secret: access_token_secret

production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  twitter:
    :consumer_key:        <%= ENV['TWITTER_CONSUMER_KEY'] %>
    :consumer_secret:     <%= ENV['TWITTER_CONSUMER_SECRET'] %>
    :access_token:        <%= ENV['TWITTER_ACCESS_TOKEN'] %>
    :access_token_secret: <%= ENV['TWITTER_ACCESSS_TOKEN_SECRET'] %>
